body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img {
  border-radius: 30%;
  height: 10%;
  width: 10%;
}

.icon {
  display: flex;
}

.text {
  font-size: 25px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
}

form {
  border-radius: 0;
  border: 0px solid #ddd;
  width: 1000px;
  padding-right: 15px;
  position: relative;
}

.load {
  background-color: whitesmoke;
  border: whitesmoke;
  width: 150px;
  cursor: move;
  height: 40px;
  border-radius: 10px;
  font-size: 19px;
  margin-bottom: 15px;
}

.search {
  float: left;
  width: 350px;
}

.list {
  display: block;
  position: absolute;
  float: right;
  right: 10px;
  top: 15% !important;
  padding-right: 50px;
  width: 350px;
}

.play {
  position: absolute;
  padding: 15px;
  top: 15% !important;
  width: 450px;
}